@page
@model AnkleBitersCreche1.Pages.OurServices.DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-info">Delete Service Type</h2>
<br />
<form method="post">
    <input asp-for="OurService.Id" hidden />
    <div class=" border  backgroundWhite">
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="OurService.Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="OurService.Name" disabled class="form-control" />
            </div>
            <span asp-validation-for="OurService.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="OurService.Price"></label>
            </div>
            <div class="col-5">
                <input asp-for="OurService.Price" disabled class="form-control" />
            </div>
            <span asp-validation-for="OurService.Price" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DeleteAndBackToListButton" />
            </div>
        </div>
    </div>
</form>
